body{
    background-color: rgb(188, 211, 218);
}
img{
    max-width: 300px;
}
#biggest-box{
    margin: 5%;
}
#button-area, #special-button-area{
    margin: 1%;
}


header{
     background-color: rgb(46, 46, 46);
    padding: 10px;
    margin: 0 auto;
    border-bottom: 2px solid black;
    color: white;
}
#head-text-area{
    text-align: center;
   
}
#head-text{
    font-size: 45px;
    color: aliceblue;
}
#select-box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px;
}
.select-text{
    font-size: 18px;
}
#gif-area{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#gif-box-0, #gif-box-4, #gif-box-8, #gif-box-12, #gif-box-16, #gif-box-20{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.big-box{
    display: flex;
    flex-direction: row;
    justify-content:center;
}
.gif-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}
.newGif{
    display: flex;
    flex-direction: row;
    justify-content: center;

}
#gif-form{
    margin-top: 20px;
}



@media screen and (max-width:1200px){
    header{
        padding: 2%;
        margin: 0 auto;
        border-bottom: 2px solid black;
    }
    #biggest-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5%;
    }
    #big-select-box{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    #head-text-area{
       text-align: center;
      
    }
    #head-text{
       font-size: 30px;
    }

    .select-text{
       font-size: 18px;
    }
  
    #bigger-box, #button-area, #special-button-area{
        display: flex;
        flex-direction: row;
        justify-content: center;

    }
    
    #inner-box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
    }


    #select-box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .select-text{
        font-size: 18px;
    }
    .big-box{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    .gif-box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    
    }
    #gif-area{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    #gif-box-0, #gif-box-4, #gif-box-8, #gif-box-12, #gif-box-16, #gif-box-20{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        
    }
}
@media screen and (max-width:620px){
    .big-box{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

}
/* .gif-pause:active{

    animation-play-state: paused;
    

} */