body{
    background-color: aqua;
}
#gif-area{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#gif-box-0, #gif-box-5, #gif-box-10, #gif-box-15, #gif-box-20{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    
}